In [8]:
!pip install datascience

Requirement already satisfied: datascience in c:\users\seena\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: sphinx in c:\users\seena\anaconda3\lib\site-packages (from datascience) (2.2.0)
Requirement already satisfied: coverage==4.5.3 in c:\users\seena\anaconda3\lib\site-packages (from datascience) (4.5.3)
Requirement already satisfied: bokeh in c:\users\seena\anaconda3\lib\site-packages (from datascience) (1.3.4)
Requirement already satisfied: numpy in c:\users\seena\anaconda3\lib\site-packages (from datascience) (1.16.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\seena\anaconda3\lib\site-packages (from datascience) (3.1.1)
Requirement already satisfied: pytest in c:\users\seena\anaconda3\lib\site-packages (from datascience) (5.2.1)
Requirement already satisfied: coveralls in c:\users\seena\anaconda3\lib\site-packages (from datascience) (1.8.2)
Requirement already satisfied: ipython in c:\users\seena\anaconda3\lib\site-packages (from datascience) (7.8.0)
Requirement already satisfied: setuptools in c:\users\seena\anaconda3\lib\site-packages (from datascience) (41.4.0)
Requirement already satisfied: pandas in c:\users\seena\anaconda3\lib\site-packages (from datascience) (0.25.1)
Requirement already satisfied: folium>=0.9.1 in c:\users\seena\anaconda3\lib\site-packages (from datascience) (0.10.0)
Requirement already satisfied: scipy in c:\users\seena\anaconda3\lib\site-packages (from datascience) (1.3.1)
Requirement already satisfied: docutils>=0.12 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (0.15.2)
Requirement already satisfied: babel!=2.0,>=1.3 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (2.7.0)
Requirement already satisfied: imagesize in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.1.0)
Requirement already satisfied: Pygments>=2.0 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (2.4.2)
Requirement already satisfied: sphinxcontrib-htmlhelp in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.2)
Requirement already satisfied: sphinxcontrib-devhelp in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.1)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (2.0.0)
Requirement already satisfied: colorama>=0.3.5; sys_platform == "win32" in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (0.4.1)
Requirement already satisfied: sphinxcontrib-jsmath in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.1)
Requirement already satisfied: packaging in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (19.2)
Requirement already satisfied: sphinxcontrib-qthelp in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.2)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (0.7.12)
Requirement already satisfied: sphinxcontrib-serializinghtml in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.1.3)
Requirement already satisfied: Jinja2>=2.3 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (2.10.3)
Requirement already satisfied: requests>=2.5.0 in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (2.22.0)
Requirement already satisfied: sphinxcontrib-applehelp in c:\users\seena\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.1)
Requirement already satisfied: PyYAML>=3.10 in c:\users\seena\anaconda3\lib\site-packages (from bokeh->datascience) (5.1.2)
Requirement already satisfied: tornado>=4.3 in c:\users\seena\anaconda3\lib\site-packages (from bokeh->datascience) (6.0.3)
Requirement already satisfied: six>=1.5.2 in c:\users\seena\anaconda3\lib\site-packages (from bokeh->datascience) (1.12.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\seena\anaconda3\lib\site-packages (from bokeh->datascience) (2.8.0)
Requirement already satisfied: pillow>=4.0 in c:\users\seena\anaconda3\lib\site-packages (from bokeh->datascience) (6.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\seena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\seena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\seena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (2.4.2)
Requirement already satisfied: py>=1.5.0 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (1.8.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (19.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (0.13.0)
Requirement already satisfied: wcwidth in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12 in c:\users\seena\anaconda3\lib\site-packages (from pytest->datascience) (0.23)
Requirement already satisfied: docopt>=0.6.1 in c:\users\seena\anaconda3\lib\site-packages (from coveralls->datascience) (0.6.2)
Requirement already satisfied: decorator in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (4.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (2.0.10)
Requirement already satisfied: pickleshare in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: backcall in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (0.15.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\seena\anaconda3\lib\site-packages (from ipython->datascience) (4.3.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\seena\anaconda3\lib\site-packages (from pandas->datascience) (2019.3)
Requirement already satisfied: branca>=0.3.0 in c:\users\seena\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (0.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\seena\anaconda3\lib\site-packages (from Jinja2>=2.3->sphinx->datascience) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\seena\anaconda3\lib\site-packages (from requests>=2.5.0->sphinx->datascience) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\seena\anaconda3\lib\site-packages (from requests>=2.5.0->sphinx->datascience) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\seena\anaconda3\lib\site-packages (from requests>=2.5.0->sphinx->datascience) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\seena\anaconda3\lib\site-packages (from requests>=2.5.0->sphinx->datascience) (2.8)
Requirement already satisfied: zipp>=0.5 in c:\users\seena\anaconda3\lib\site-packages (from importlib-metadata>=0.12->pytest->datascience) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\seena\anaconda3\lib\site-packages (from jedi>=0.10->ipython->datascience) (0.5.1)
Requirement already satisfied: ipython-genutils in c:\users\seena\anaconda3\lib\site-packages (from traitlets>=4.2->ipython->datascience) (0.2.0)

In [9]:
from datascience import *
import numpy as np, pandas as pd, matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [44]:
pandas_table = pd.read_json("C:\\Users\\seena\\Google Drive\\Documents\\Github\\dss-2019\\Data Frames\Headline Data Set.json", lines= True)
articles = Table.from_df(pandas_table)
articles = articles.with_column('length', articles.apply(len, 'headline'))
training = articles.take(np.arange(int(len(articles)*.7)))
testing = articles.take(np.arange(training.num_rows, training.num_rows))

In [11]:
sarcastic = articles.where('is_sarcastic', 1)
real = articles.where('is_sarcastic', 0)

In [12]:
sarcastic_headlines = sarcastic.select('headline')
real_headlines = real.select('headline')

In [13]:
useless_words = ['a', 'at', 'and', 'be', 'by', 'for', 'is', 'in', 'it', 'of', 'on', 'to', 'the', 'of', '--']

In [14]:
sarcastic_words = []

for i in sarcastic_headlines.column(0):
    for j in i.split():
        sarcastic_words.append(j)

sarcastic_tbl = Table().with_column('words', sarcastic_words).where('words', are.not_contained_in(useless_words))
sarcastic_tbl = sarcastic_tbl.group('words').sort(1, descending=True)
sarcastic_words = sarcastic_tbl.column(0)
sarcastic_tbl

words | count
man   | 1143
with  | 1008
new   | 973
from  | 664
out   | 559
after | 546
up    | 507
he    | 499
area  | 487
about | 483
... (23905 rows omitted)

In [15]:
real_words = []

for i in real_headlines.column(0):
    for j in i.split():
        real_words.append(j)

real_tbl = Table().with_column('words', real_words)
real_tbl = real_tbl.group('words').where('words', are.not_contained_in(useless_words)).sort(1, descending=True)
real_tbl

words | count
trump | 957
with  | 943
you   | 732
this  | 690
new   | 664
from  | 661
about | 644
how   | 639
your  | 575
are   | 555
... (24997 rows omitted)

In [16]:
sarcastic_unique = sarcastic_tbl.where(0, are.not_contained_in(real_tbl.column(0)))
sarcastic_words = sarcastic_unique.column(0)
sarcastic_unique

words     | count
fucking   | 100
shit      | 66
clearly   | 56
fuck      | 45
realizes  | 42
unable    | 37
kavanaugh | 36
archives: | 32
slowly    | 30
per       | 30
... (13203 rows omitted)

In [17]:
real_unique = real_tbl.where(0, are.not_contained_in(sarcastic_tbl.column(0)))
real_words = real_unique.column(0)
real_unique

words      | count
huffpost   | 58
email:     | 57
queer      | 49
watch:     | 48
trans      | 48
kardashian | 47
jenner     | 40
lgbt       | 39
'snl'      | 34
lgbtq      | 32
... (14295 rows omitted)

In [45]:
def unique_count(headline):
    '''Returns the number of times certain words are in a headline'''
    count_sarcastic = 0
    count_real = 0
    count_useless = 0
    for i in headline.split():
        count_sarcastic += np.count_nonzero(sarcastic_words == i)
        count_real += np.count_nonzero(real_words == i)
        count_useless += np.count_nonzero(useless_words == i)
        
    return {'sarcastic':count_sarcastic, 'real':count_real, 'useless':count_useless}

In [25]:
sarcastic_counts = articles.apply(lambda x: unique_count(x)['sarcastic'], 'headline')

In [26]:
real_counts = articles.apply(lambda x: unique_count(x)['real'], 'headline')

In [46]:
useless_counts = articles.apply(lambda x: unique_count(x)['useless'], 'headline')

In [49]:
articles_with_counts = articles.with_columns('Unique Sarcastic Words', sarcastic_counts, 'Unique Real Words', real_counts, 'Unique Useless Words', useless_counts)

In [55]:
articles_with_counts.sort('Unique Real Words', descending=True).show(5)

In [50]:
total_word_counts = articles_with_counts.apply(lambda x: len(x.split()), 'headline')
articles_with_counts = articles_with_counts.with_column('Word Count', total_word_counts)